@media only screen and (max-width: 1521px) {
    .navlist {
        flex-direction: column;
    }

    .navbar {
        height: 500px;
        flex-direction: column;
        transition: all 0.5s ease-out;
    }

    .burger {
        display: block;
    }

    .navheight {
        height: 70px;
    }

    .v-class {
        visibility: hidden;
    }
    .regbtn{
        width: 54%;
    }
    .second img{
        width: 100%;
    }
    .logo img {
        width: 35%;
    }
}
@media only screen and (max-width: 500px){
.boxmain{
    flex-direction: column-reverse;

}
.second{

   margin-right: 40px;
}
.second img{
    width: 190%;
    margin-top:70px
}
.signup{
    width: 125%;
}
.text-big{
    text-align:justify;
    font-size: 32px;
}
.text-small{
    text-align: justify;
    font-size: 15px;
}
.first{
    width: 200px;
}
}
